<div class="flex w-screen min-h-screen items-center justify-around bg-white px-4">
  <!-- Logo -->
  <div class="w-1/2 flex flex-col items-center justify-center text-center animate-fade-in-left">
  <img src="assets/images/zompix.png" alt="Logo de Zompix" class="w-[28rem] h-[28rem] object-contain" />
    <p class="mt-4 text-lg md:text-xl text-gray-600 max-w-md">
      Connect with friends and the world around you on <span class="font-semibold text-green-600">Zompix</span>.
    </p>
  </div>


  <!-- Contenedor de formulario -->
  <div class="flex flex-col justify-center bg-gray-50 p-10 rounded-2xl shadow-[0_15px_40px_rgba(0,0,0,0.3)] w-full max-w-lg text-center text-gray-800 animate-fade-in-right transition duration-500 ease-in-out border border-gray-200">

    @if (isLoginVisible) {
      <app-login />
    } @else {
      <app-register />
    }

    <p class="text-sm mt-6">
      @if (isLoginVisible) {
        ¿No tienes una cuenta?
        <button (click)="showRegister()" class="text-blue-600 hover:underline transition">Regístrate</button>
      } @else {
        ¿Ya tienes una cuenta?
        <button (click)="showLogin()" class="text-blue-600 hover:underline transition">Inicia sesión</button>
      }
    </p>
  </div>
</div>
