<form
  [formGroup]="loginForm"
  class="flex flex-col justify-center space-y-6 p-10 rounded-xl bg-gray-50 shadow-lg w-full max-w-md mx-auto border border-gray-200 text-left animate-fade-in text-gray-800"
>
  <h2 class="text-center mb-4 text-3xl font-bold tracking-wide">Iniciar sesión</h2>

  <!-- Email -->
  <div>
    <label for="usernameOrEmail" class="block mb-1 text-sm font-medium">Email o Usuario</label>
    <input
      type="text"
      id="usernameOrEmail"
      formControlName="usernameOrEmail"
      placeholder="Email o Usuario"
      class="input-style"
      required
    />
    <div *ngIf="loginForm.get('usernameOrEmail')?.touched && loginForm.get('usernameOrEmail')?.invalid" class="mt-1 text-sm text-red-500">
      <div *ngIf="loginForm.get('usernameOrEmail')?.errors?.['required']">El correo o usuario es obligatorio.</div>
    </div>
  </div>

  <!-- Contraseña -->
  <div class="relative">
    <label for="password" class="block mb-1 text-sm font-medium">Contraseña</label>
    <input
      [type]="isPasswordVisible ? 'text' : 'password'"
      id="password"
      formControlName="password"
      placeholder="Contraseña"
      class="input-style"
      required
    />
    <button
      type="button"
      class="absolute top-9 right-4 text-gray-500 hover:text-black"
      (click)="togglePasswordVisibility()"
    >
      <span class="material-icons">{{ isPasswordVisible ? 'visibility_off' : 'visibility' }}</span>
    </button>
    <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="mt-1 text-sm text-red-500">
      <div *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</div>
      <div *ngIf="loginForm.get('password')?.errors?.['minlength']">Mínimo 8 caracteres.</div>
      <div *ngIf="loginForm.get('password')?.errors?.['maxlength']">Máximo 15 caracteres.</div>
      <div *ngIf="loginForm.get('password')?.hasError('pattern')">Debe tener al menos una mayúscula y un número.</div>
    </div>
  </div>

  <!-- Botón -->
  <button
    (click)="login()"
    class="w-full py-2 mt-4 bg-green-600 text-white font-semibold rounded-lg hover:bg-green-700 transition"
  >
    Iniciar sesión
  </button>

  <!-- Mensaje -->
  <div
    *ngIf="message"
    [ngClass]="isError ? 'bg-red-100 text-red-700' : 'bg-green-100 text-green-700'"
    class="mt-4 text-center px-4 py-2 rounded-md"
  >
    {{ message }}
  </div>
</form>
